<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.restarent.guests.last.guest_name %></h1>
    <p>
      you register the <%=@user.restarent.name%> at <%=@user.restarent.guests.last.time%> am
    </p>
  </body>
</html>